.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form {
    text-align: center;
    background-color: #366d8b;
    margin: 50px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d9eff9;
    color: white;

}

.image .image img {
    margin: 0 auto;
}


.register-form input {
    display: block;


    width: 80%;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    margin: 10px auto;


}