.Title {
    text-align: center;
    color: rgb(63, 17, 77);


}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    text-align: center;
    font-size: 40px;
    margin: 40px 25px;


}

.feature {

    border: 1px solid rgb(212, 212, 241);
    border-radius: 15px;
    padding: 40px 25px;

    background-color: #eef8ff;
}

.feature:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 20, 6);
}