.add-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border: 1px solid slategray;
    margin: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-card img {
    width: 400px;
    margin: auto;
}